.section-bg{
    background-image: url("../../../assets/ModelsImages/intro.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-bg:before {
    margin-top: 5rem;
  }