<section class="models-list">
    <div class="first-grid">
        <div class="img">
            <a routerLink='../ModelX'>
                <img src="../../../assets/HomeImages/bmwx5.jpg">
            </a>
        </div>
        <div>
            <p>bmw x series</p>
        </div>

    </div>
    <div class="second-grid">
        <div class="img">
            <a routerLink='../ModelX'>
                <img src="../../../assets/HomeImages/product-5-720x480.jpg">
            </a>
        </div>
        <div>
            <p>bmw m series</p>
        </div>
    </div>
    <div class="third-grid">
        <div class="img">
            <a routerLink='../ModelX'>
                <img src="../../../assets/ModelsImages/bmwi8.jpg">
            </a>
        </div>
        <div>
            <p>bmw i series</p>
        </div>
    </div>
    <div class="fourth-grid">
        <div class="img">
            <a routerLink='../ModelX'>
                <img src="../../../assets/ModelsImages/bmw3.jpg">
            </a>
        </div>
        <div>
            <p>bmw 3 series</p>
        </div>
    </div>
    <div class="fifth-grid">
        <div class="img">
            <a routerLink='../ModelX'>
                <img src="../../../assets/HomeImages/bmw5.jpg">
            </a>
        </div>
        <div>
            <p>bmw 5 series</p>
        </div>
    </div>
    <div class="sixth-grid">
        <div class="img">
            <a routerLink='../ModelX'>
                <img src="../../../assets/ModelsImages/bmw7.jpg">
            </a>
        </div>
        <div>
            <p>bmw 7 series</p>
        </div>
    </div>
</section>
