    <footer class="footer-95942">
      
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="row">
                <div class="col-sm-6 col-md mb-4 mb-md-0">
                  <h3>Felfedezés</h3>
                  <ul class="list-unstyled nav-links">
                    <li><a href="#">Online </a></li>
                    <li><a href="#">Kezdd el!</a></li>
                    <li><a href="#">Szolgáltatások</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md mb-4 mb-md-0">
                  <h3>Rólunk</h3>
                  <ul class="list-unstyled nav-links">
                    <li><a href="#">Kapcsolat</a></li>
                    <li><a href="#">A csapat</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md mb-4 mb-md-0">
                  <h3>Szolgáltatások</h3>
                  <ul class="list-unstyled nav-links">
                    <li><a href="#">Események</a></li>
                    <li><a href="#">Hírek</a></li>
                    <li><a href="#">Díjak</a></li>
                    
                  </ul>
                </div>
                <div class="col-sm-6 col-md mb-4 mb-md-0">
                  <h3>Vásárlás</h3>
                  <ul class="list-unstyled nav-links">
                    <li><a href="#">Hol vehetem meg?</a></li>
                    <li><a href="#">Vásárlás online</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md mb-4 mb-md-0">
                  <h3>Segítség</h3>
                  <ul class="list-unstyled nav-links">
                    <li><a href="#">GYIK</a></li>
                    <li><a href="#">Támogatás</a></li>
                    <li><a href="#">Tudástár</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-md-12 pb-3">
              <div class="border-top">
                
              </div>
            </div>
          </div>
          
        </div>
    </footer>