<div class="container shadow mt-9 mb-5">
    <div class="row">
        <div class="col-12 p-0">
            <h2 class="text-center border-bottom mb-0 p-4">A csapatunk</h2>
        </div>
        <div class="col-sm-6 border-end border-bottom p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/AboutImages/user-img-1.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">Kommunikációs menedzser</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Példa Ferenc</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-6 border-bottom p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/AboutImages/user-img-2.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">Területi igazgató</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Példa Ferenc</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-6 border-end p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/AboutImages/user-img-3.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">Alapító</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Példa Ferenc</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/AboutImages/user-img-4.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">Területi igazgató helyettes</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Példa Ferenc</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
