<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


    </head>
    
    <body>
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="../../../assets/HomeImages/video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Győr, Szauter Ferenc u. 9</h6>
                <h2>Leier <em>auto</em>kereskedés!</h2>
                <div class="main-button">
                    <a routerLink="../Contact">Vegye fel velünk a kapcsolatot</a>
                </div>
            </div>
        </div>
    </div>

   <!-- ***** Cars Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Kiemelt <em>ajánlatok</em></h2>
                        <img src="../../../assets/HomeImages/line-dec.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="../../../assets/HomeImages/bmw5.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>Ft</sup>9.990.000 </del> &nbsp; <sup>Ft</sup>8.990.000
                            </span>

                            <h4>BMW 530D</h4>

                            <p>
                                <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cube"></i> 3000 cc &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cog"></i> automata &nbsp;&nbsp;&nbsp;
                            </p>

                            <ul class="social-icons">
                                <li><a href="#">+ Mutass többet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="../../../assets/HomeImages/product-5-720x480.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>Ft</sup>11.990.000 </del> &nbsp; <sup>Ft</sup>11.500.000
                            </span>

                            <h4>BMW M2</h4>

                            <p>
                                <i class="fa fa-dashboard"></i> 52 000km &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cube"></i> 2998 cc &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
                            </p>

                            <ul class="social-icons">
                                <li><a href="#">+ Mutass többet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="../../../assets/HomeImages/bmwx5.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>Ft</sup>7.500.000 </del> &nbsp; <sup>Ft</sup>6.990.000
                            </span>

                            <h4>BMW X5</h4>

                            <p>
                                <i class="fa fa-dashboard"></i> 85 000km &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cube"></i> 2000 cc &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
                            </p>

                            <ul class="social-icons">
                                <li><a href="#">+ Mutass többet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="main-button text-center">
                <a routerLink="../Models/">Autók áttekintése</a>
            </div>
        </div>
    </section>
    <!-- ***** Cars Ends ***** -->

    <section class="section section-bg" id="schedule" style="background-image: url(../../../assets/HomeImages/about-fullscreen-1-1920x700.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2>Rólunk <em>bővebben</em></h2>
                        <img src="../../../assets/HomeImages/line-dec.png" alt="">
                        <p>Kereskedésünk 9024 Győr, Szauter Ferenc u. 9 szám alatt található.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-content text-center">
                        <p>Új és használtautó kereskedése a fő profilunk valamint autós webshopot üzemeltetünk!</p>

                        <p>De nyugodt    szívvel megbízhat szakszervízünkben is.</p>
                        <p>Keressen minket bizalommal!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2><em>Blog</em></h2>
                        <img src="../../../assets/HomeImages/line-dec.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a routerLink="../Services">Vezettük az új BMW M5 CS-t!</a></li>
                  <li><a routerLink="../Services">My BMW App</a></li>
                  <li><a routerLink="../Services">BMW szervíz 5+</a></li>
                  <div class="main-rounded-button">
                      <a routerLink="../Services">Mutass többet</a>
                    </div>
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-1'>
                    <img src="../../../assets/HomeImages/blog-image-1-940x460.jpg" alt="">
                    <h4>Széleskörű BMW szervíz.</h4>

                    <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p>

                    <p>
                        A BMW Service első rangú ajánlatai gondoskodnak róla, hogy Ön és a BMW-je jó kezekben legyenek. 
                        A tapasztalt szakemberek eredeti BMW alkatrészeket használnak a munkájuk során, garantálva ezzel azt, hogy BMW-je maradéktalanul megőrizze eredetiségét. 
                        A hosszú távra szóló szervizcsomagoktól – mint a BMW Service Inclusive –, a My BMW Service érintkezésmentes szervizajánlatain át a meghosszabbított jótállásig és a BMW Országúti segélyszolgálat és vészhelyzetmenedzsmentig: átfogó kínálatunkban minden megtalálható. 
                        Prémium szolgáltatások – mindegyik BMW modell számára, egyéni igényeinek megfelelően, a sok-sok Ön előtt álló gondtalan kilométerre.
                    </p>
                    <div class="main-button">
                        <a routerLink="../Blog">Olvasson többet</a>
                    </div>
                  </article>
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(../../../assets/HomeImages/banner-image-1-1920x500.jpg)">
        <div class="container mr-auto">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Lépjen kapcsolatba<em>velünk!</em></h2>
                        <div class="main-button">
                            <a routerLink="../Contact">Vegye fel velünk a kapcsolatot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/mixitup.js"></script> 
    <script src="assets/js/accordions.js"></script>

    <script src="assets/js/custom.js"></script>

  </body>
</html>
