<div class="services-wrapper">
    <div class="service">
        <img src="../../../assets/bmw5+.jpg">
        <div class="content">
            <h2>BMW szervíz 5+</h2>
            <p>
                A BMW hagyományait és értékeit minden tulajdonos a hűségével és szenvedélyével díjazza. 
                E különleges kapcsolat erősítésére hoztuk létre a BMW Szerviz 5+ programot, melyet az 5 évnél idősebb, Magyarországon újonnan vagy használtan forgalomba helyezett gépjárművek számára ajánlunk.
            </p>
        </div>
    </div>
    <div class="service">
        <img src="../../../assets/bmw-app.jpg">
        <div class="content">
            <h2>My BMW app</h2>
            <p>A My BMW app ugyanolyan tökéletesen illik Önhöz, mint a BMW-je. 
                Az alkalmazás közvetlen kapcsolatot teremt Ön és a jármű, illetve a BMW világa között, még akkor is, amikor éppen nem BMW-je volánja mögött ül. 
                Modern dizájnjával, intuitív felhasználói felületével és számos funkciójával a My BMW app megbízható útitársává szegődik a mindennapi jövés-menés során. 
                Tervezze meg előre utazásait, vagy otthon, a kanapén ülve küldje át a következő úti célját közvetlenül a BMW-jének. 
                Indulás előtt tekintse meg a még rendelkezésre álló hatótávot vagy kényelmesen, a távolból állítsa be az autó belső terének klimatikus viszonyait. 
                Nem biztos abban, hogy vajon bezárta-e az autóját, miután kiszállt? Mindezt könnyen leellenőrizheti az appban, és ha szükséges, 
                egyetlen érintéssel pótolhatja a mulasztást. A My BMW app elektromos meghajtású vagy plug-in BMW-jéhez is számos hasznos funkciót kínál. 
                Például optimalizálhatja autójának energiafogyasztását és a töltés költségeit, de rendelkezésére áll az időzítő is, 
                amellyel előre beprogramozhatja légkondicionáló berendezést. Amikor pedig esedékessé válik a következő szerviz, az app értesíti Önt erről, 
                egyszersmind lehetővé teszi azt, hogy közvetlenül a BMW márkaszervizénél foglaljon időpontot, illetve, hogy kapcsolatba lépjen a szerviztanácsadóval, 
                ha valamilyen kérdése lenne. 
                A My BMW app tehát felhőtlenül gondtalan mobilitást és még több felvillanyozó vezetési élményt szavatol – mindig, mindenhol. Az Ön világa. My BMW.
            </p>

        </div>
    </div>
    <div class="service">
        <img src="../../../assets/bmw m5-cs.jpg">
        <div class="content">
            <h2>Vezettük az új bmw m5 cs-t</h2>
            <p>
                A BMW M GmbH a BMW M5 CS világpremierjével írja tovább a rendkívül sportos CS különkiadások sikertörténetét. 
                A limitált szériában készülő, exkluzív modell a legendás BMW M5 első különkiadásaként érkezik meg az utakra, 
                egyszerre négy utasnak kínálva felejthetetlen vezetési- és utazási élményt. 
                A BMW M divízió új nagyteljesítményű zászlóshajója kimagasló menettulajdonságait páratlan, luxus minőségű stílusjegyek nyomatékosítják.
            </p>

        </div>
    </div>
</div>
