<header class="wrapper">
  <div class="nav-flex-container">
    <div class="flex-item1">
      <a routerLink="Home">
        <img class="Brand-icon" src="../../../assets/Brand_icon.jpg" />
      </a>
    </div>

    <div class="flex-item2">
        <ul>
          <li class="active"><a routerLink="Home"><span>Főoldal</span></a></li>
          <li><a routerLink="Models"><span>Modellek</span></a></li>
          <li><a routerLink="Services"><span>Szolgáltatások és ajánlatok</span></a></li>
          <li><a routerLink="About"><span>Rólunk</span></a></li>
          <li><a routerLink="Blog"><span>Blog</span></a></li>
          <li><a routerLink="Contact"><span>Kapcsolat</span></a></li>
        </ul>
    </div>
  </div>
</header>