* {
  box-sizing:border-box;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding:0;
}

li{
  padding: 10px 20px;
}

a{
  text-decoration: none;
  padding: 13px 20px;
}

li:hover {
  background-color: #ddd;
  color: black;
}

span{
  font-size: 1.2rem;
  color: #ed563b;
}

.wrapper{
  width: 95%;
  margin:10px auto;
}

.active {
  background-color:bisque;
}

.nav-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-item1{
 flex-grow: 1; 
}
.flex-item2{
  flex-grow: 5;
}

@media (max-width:1260px) {
  ul {
    display: block;
  }
  .nav-flex-container {
    display: inline-block;
  }

  .wrapper{
    width: 50%;
    margin: 30px 20px;
  }
}