<div class="blog-wrapper">
    <section class='tabs-content'>
      <article id='tabs-1'>
        <img class="pic" src="../../../assets/HomeImages/blog-image-1-940x460.jpg" alt="">
        <h4>Széleskörű BMW szervíz.</h4>

        <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p>

        <p>
          A BMW Service első rangú ajánlatai gondoskodnak róla, hogy Ön és a BMW-je jó kezekben legyenek. 
                        A tapasztalt szakemberek eredeti BMW alkatrészeket használnak a munkájuk során, garantálva ezzel azt, hogy BMW-je maradéktalanul megőrizze eredetiségét. 
                        A hosszú távra szóló szervizcsomagoktól – mint a BMW Service Inclusive –, a My BMW Service érintkezésmentes szervizajánlatain át a meghosszabbított jótállásig és a BMW Országúti segélyszolgálat és vészhelyzetmenedzsmentig: átfogó kínálatunkban minden megtalálható. 
                        Prémium szolgáltatások – mindegyik BMW modell számára, egyéni igényeinek megfelelően, a sok-sok Ön előtt álló gondtalan kilométerre.
        </p>
        <div class="main-button">
            <a href="blog-details.html">Continue Reading</a>
        </div>
      </article>
      <article id='tabs-3'>
        <img class="pic" src="../../../assets/HomeImages/blog-image-3-940x460.jpg" alt="">
        <h4>A vezetés élménye.</h4>
        <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.07.2020 10:10 &nbsp;|&nbsp; <i class="fa fa-comments"></i>  15 comments</p>
        <p>Fedezze fel a BMW világát, a modellek és szolgáltatások széles körét. A modellek széles palettáján megtalálja az igényeinek megfelelő BMW-t.</p>
        <div class="main-button">
            <a href="blog-details.html">Continue Reading</a>
        </div>
      </article>
    </section>
  </div>
